// colors
$info: #36A8E0;
$purple: #AF70C1;
$success: #00D287;
$yellow: #F5CE2D;
$danger: #E74D34;
$base: #2F2D2C;
$primary: #FE7700;
$primary-dark: #E06B10;
$secondary: #FBFBFB;
$secondary-dark: #FBFBFB;
$dark: #2F2D2C;
$success: #00D115;
$success-dark: #1B873F;
$info: #0085FF;
$info-dark: #2992C4;
$danger: #E21E22;
$danger-dark: #D1503A;